  <style>
    table.table-bordered {
      border-collapse: collapse !important;
    }

    table.table-bordered th,
    table.table-bordered td {
      border: 1px solid #dee2e6 !important;
    }

    .table tbody tr {
      background-color: #ffffff !important;
    }
  /* Agar angka aktif (yang sedang dipilih) berwarna putih */
  .pagination .page-item.active .page-link {
    background-color: #6366f1 !important; /* biru bulat seperti di gambar */
    color: #fff !important; /* putih */
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  /* Supaya semua pagination tampak lebih rapi */
  .pagination .page-link {
    border-radius: 50%;
  }
  </style>